  <h4>
    <%= hima.title %>
  </h4>
  <br><br>
  <div>
    <% if hima.location != "" %>
      <%= "ロケーション：#{hima.location}" %>
    <% else %>
      <%= "ロケーション：指定なし" %>
    <% end %>
  </div>
  <div>
    <%= hima.text %>
  </div>
  <br>
  <%# purposes出力 %>
  <% output_purposes = hima.hima_purposes.where(purpose_id: Purpose.ids, flag: 1) %>
  <% if output_purposes.any? %>
    <div>
      <h5>タグ</h5>
      <ul class="purpose-list">
        <% output_purposes.each do |hima_purpose| %>
          <li><%= hima_purpose.purpose.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
