<div>
  <% if message.user == current_user %>
  <div class="message my-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <div class="message-created_at my-message-created_at"><%= l message.created_at, format: :short %></div>
  </div>
  <% else %>
    <div class="message others-message">
      <div>
        <% if message.user.images.attached? %>
          <span><%= link_to image_tag(message.user.images[0].variant( resize: "200x200>" ).processed, class: "icon-image message-icon-image"), user_path(message.user), target: "_blank", rel: "noreferrer noopener" %></span>
        <% else %>
          <span><%= link_to image_tag('new_user_icon.png', class: "icon-image message-icon-image"), user_path(message.user), target: "_blank", rel: "noreferrer noopener" %></span>
        <% end %>
      </div>
      <div class="message-content">
        <%= message.content %>
      </div>
      <div class="message-created_at"><%= l message.created_at, format: :short %></div>
    </div>
  <% end %>
</div>