<div class="hima-unit", id="">
  <h4>
    <%= "id:#{hima.id}/タイトル:#{hima.title}" %>
  </h4>
  <div>
    <% if hima.user.images.attached? %>
      <span><%= link_to image_tag(hima.user.images[0].variant( resize: "200x200>" ).processed, class: "icon-image"), user_path(hima.user) %></span>
    <% else %>
      <span><%= link_to image_tag('new_user_icon.png', class: "icon-image"), user_path(hima.user) %></span>
    <% end %>
    <%= link_to hima.user.nickname, user_path(hima.user) %>
  </div>
  <div>
    <% if hima.location != "" %>
      <%= hima.location %>
    <% else %>
    <em><%= "場所指定なし" %></em>
    <% end %>
  </div>
  <div>
    <%= hima.text %>
  </div>
  <ul><h5>タグ</h5>
    <% hima.hima_purposes.each do |purpose| %>
      <% if purpose.flag == 1 %>
        <li><%= purpose.purpose.name %></li>
      <% end %>
    <% end %>
  </ul>
  <div>
    <% if user_signed_in? %>
      <% if (hima.user != current_user) && (hima.hit_ons.where(user_id: current_user.id).empty?) %>
        <span class="create-hit_on-button" >
          <%= image_tag('pose_kyosyu_hand.png', class: 'kyosyu-hand') %>
          <span><%# JavaScript %></span>
        </span>
        <%= form_with(model: @hit_on, url: '/', class: "hit_on-form", data: {id: hima.id}, local: true) do |f|  %>
          <div class="field">
            <div>
              <%= f.text_area :line %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "投稿する" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>