<div class="hima-unit">
  <h4>
    <%= hima.title %>
  </h4>
  <span class="hima-created_at"><%= l hima.created_at, format: :short %></span>
  <br><br>
  <div class="hima-user-info">
    <% if hima.user.images.attached? %>
      <span><%= link_to image_tag(hima.user.images[0].variant( resize: "200x200>" ).processed, class: "icon-image hima-icon-image"), user_path(hima.user), target: "_blank", rel: "noreferrer noopener" %></span>
    <% else %>
      <span><%= link_to image_tag('new_user_icon.png', class: "icon-image hima-icon-image"), user_path(hima.user), target: "_blank", rel: "noreferrer noopener" %></span>
    <% end %>
    <%= link_to hima.user.nickname, user_path(hima.user), class: "hima-user-name", target: "_blank", rel: "noreferrer noopener" %>
  </div>
  <br>
  <div>
    <% if hima.location != "" %>
      <%= "ロケーション：#{hima.location}" %>
    <% else %>
    <%= "場所指定なし" %>
    <% end %>
  </div>
  <br>
  <div>
    <%= hima.text %>
  </div>
  <% if hima.hima_purposes.where(flag: 1).any? %>
    <div>
      <h5>タグ</h5>
      <ul class="purpose-list">
        <% hima.hima_purposes.each do |purpose| %>
          <% if purpose.flag == 1 %>
            <li><%= purpose.purpose.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div>
    <% if user_signed_in? %>
      <% if hima.user != current_user %>
        <% if hima. hit_ons.where(user_id: current_user.id).empty? %>
          <div class="hit_on-status-container">
            <span class="create-hit_on-button hit_on-status" >
              <%= image_tag('body_te.png', class: 'hit_on-hand') %>
              <span><%# JavaScript %></span>
            </span>
          </div>
          <div class="hit_on-form-container">
            <%= form_with(model: @hit_on, url: '#', class: "hit_on-form", data: {id: hima.id}, local: true) do |f|  %>
              <div class="field">
                <div>
                  <%= f.text_area :line, class: "hit_on-text_area" %>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "送信" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="hit_on-status-container">
            <span class="already-hit_on hit_on-status" >
              <span>リクエスト済みです</span>
            </span>
          </div>
          <div class="hit_on-container">
            <%#= "ここにhit_onの内容" %>
          </div>
        <% end %>
      <% else %>
        <div>
          <span >
            あなたの投稿です
          </span>
        </div>
      <% end %>
    <% else %>
      <div>
        <span>
          リクエストを送るには<a href='/users/sign_in'><u>ログイン</u></a>または<a href='/users/sign_up'><u>新規登録</u></a>してください
        </span>
      </div>
    <% end %>
  </div>
</div>