<%= render partial: 'shared/page_title', locals: { title: "hima編集" } %>
<%= form_with(model: @hima_form, url: hima_path, method: :patch, class: "general-form-frame", local: true) do |f| %>
  <%= render 'error_messages', model: @hima_form %>
  <div class="field">
   <%= f.label :title, "タイトル（必須）" %>
   <div>
    <%= f.text_field :title, class: "thirty-vw-form" %>
   </div>
  </div>
  <div class="field">
   <%= f.label :location, "ロケーション（任意）" %>
   <div>
    <%= f.text_field :location, class: "thirty-vw-form" %>
   </div>
  </div>
  <div class="field">
    <%= f.label :text, "本文（必須）" %>
    <div>
      <%= f.text_area :text, class: "thirty-vw-form" %>
    </div>
  </div>

  <h4>タグ</h4>
    <% @purposes.each_with_index do |purpose, i| %>
      <div class="field">
        <%= f.check_box :"purpose_#{purpose.id}" %>
        <%# ↓に変更することでparamsの処理が大幅に軽減されるが、render時にうまく反映されない %>
        <%#= f.check_box :"purpose_#{purpose.id}", name: "hima_form[purposes][purpose_#{purpose.id}]" %>
        <%= f.label :"purpose_#{purpose.id}", "#{purpose.name}" %>
        <br>
      </div>
    <% end %>
  <h4>公開範囲</h4>
  <div class="field">
    <div>
      <%= f.collection_select :open_range_id, OpenRange.where.not(id: @invisible_open_range_ids), :id, :name, { selected: @hima_form.open_range_id }, { class: 'select-box' } %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>