<% if @user == current_user %>
  <%= render partial: 'shared/page_title', locals: { title: "マイページ" } %>
<% else %>
  <%= render partial: 'shared/page_title', locals: { title: "#{@user.nickname}さんの個人ページ" } %>
<% end %>

<div class="upper-profile">
  <div class="profile-summary">
    <div class="edit-button-line">
    <h4><%= "#{@user.nickname}さんのプロフィール" %></h4>
    <% if @user == current_user %><%= link_to "編集", edit_user_path, class: "edit-button btn btn-secondary" %><% end %>
    </div>
    <div class="images-container">
      <% if @user.images.attached? %>
        <% @user.images.each do |image| %>
          <%= image_tag(image.variant( resize: "500x500>" ).processed, class: "profile-image") %>
        <% end %>
      <% else %>
        <%= image_tag("no_image.jpg", class: "profile-image") %>
      <% end %>
    </div>
    <div class="profile-statuses">
      <div class="profile-status"><%= "年齢：#{@user.how_old.profile}" %></div>
      <div class="profile-status"><%= "性別：#{@user.sex.profile}" %></div>
    </div>
  </div>
  <div>
    <div class="edit-button-line">
    <h4><%= "最近のhima" %></h4>
    <% if @user == current_user %><%= link_to "新規投稿", new_hima_path, class: "edit-button btn btn-secondary" %><% end %>
    </div>
    <div class="current-himas-container">
      <% if @user.himas.any? %>
        <% @user.himas.order("created_at DESC").each do |hima| %>
          <%= render partial: 'himas/himas', locals: { hima: hima } %>
        <% end %>
      <% else %>
        <div>
          <span class="cannnot-show">投稿はありません</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="memo-profile">
  <div class="edit-button-line">
  <h4>メモ*あなたにのみ表示されます</h4>
  <%= link_to "編集", edit_user_memo_path(@user, current_user), class: "edit-button btn btn-secondary" %>
  </div>
  <div class="memo">
    <% if (@memo == nil) || (@memo.memo == "") %>
      <span class="cannnot-show">メモはありません</span>
    <% else %>
      <%= @memo.memo %>
    <% end %>
  </div>
</div>
<div class="lower-profile">
  <div class="edit-button-line">
  <h4>自己紹介</h4>
  <% if @user == current_user %><%= link_to "編集", edit_user_path, class: "edit-button btn btn-secondary" %><% end %>
  </div>
  <div class="introduction">
    <% if @user.introduction == "" %>
      <span class="cannnot-show">自己紹介はありません</span>
    <% else %>
      <%= @user.introduction %>
    <% end %>
  </div>
</div>