<div class="test">users#show</div>
<div class="upper-profile">
  <div class="profile-summary">
    <h4><%= "id:#{@user.id} nickname:#{@user.nickname}さんのプロフィール" %></h4>
    <% if @user == current_user %><%= link_to "編集", edit_user_path, class: "edit-button" %><% end %>
    <div class="images-container">
      <% if @user.images.attached? %>
        <% @user.images.each do |image| %>
          <%= image_tag(image.variant( resize: "500x500>" ).processed, class: "profile-image") %>
        <% end %>
      <% else %>
        <%= image_tag("no_image.jpg", class: "profile-image") %>
      <% end %>
    </div>
    <div><%= "年齢：#{@user.how_old.profile}" %></div>
    <div><%= "性別：#{@user.sex.profile}" %></div>
  </div>
  <div>
    <h4><%= "#{@user.nickname}さんの最近のhima" %></h4>
    <% if @user == current_user %><%= link_to "新規投稿", new_hima_path, class: "edit-button" %><% end %>
    <div class="current-himas-container">
      <% if @user.himas.any? %>
        <% @user.himas.order("created_at DESC").each do |hima| %>
          <%= render partial: 'himas/himas', locals: { hima: hima } %>
        <% end %>
      <% else %>
        <div>
          <span class="cannnot-show">投稿はありません</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="memo-profile">
  <h4>メモ※あなたにのみ表示されます</h4>
  <% if @memo == nil  %>
    <%= link_to "作成", edit_user_memo_path(@user, current_user), class: "edit-button" %>
    <div class="memo">
      <span class="cannnot-show">メモはまだありません</span>
    </div>
  <% else %>
    <%= link_to "編集", edit_user_memo_path(@user, current_user), class: "edit-button" %>
    <div class="memo">
      <%= @memo.memo %>
    </div>
  <% end %>
</div>
<div class="lower-profile">
  <h4>自己紹介</h4>
  <% if @user == current_user %><%= link_to "編集", edit_user_path, class: "edit-button" %><% end %>
  <div class="introduction">
    <%= @user.introduction %>
  </div>
</div>