<div class="room-unit">
  <% object = room.users.find_by("user_id != ?", current_user.id)  %>
  <div class="left-room-unit">
    <% if object.images.attached? %>
      <span><%= link_to image_tag(object.images[0].variant( resize: "400x400>" ).processed, class: "room-icon-image"), user_path(object) %></span>
    <% else %>
      <span><%= link_to image_tag('new_user_icon.png', class: "room-icon-image"), user_path(object), target: "_blank", rel: "noreferrer noopener" %></span>
    <% end %>
  </div>
  <div class="right-room-unit">
    <div class="rooms-unit-nickname-and-updated_at">
      <span class="nickname-room-unit"><%= link_to object.nickname, user_path(object), target: "_blank", rel: "noreferrer noopener"  %></span>
      <span class="updated_at-room-unit"><%= room.updated_at %></span>
    </div>
    <div class="message-room-unit">
      <% if room.messages.any? %>
        <%= link_to room.messages.last.content, room_messages_path(room), class: "current-message", target: "_blank", rel: "noreferrer noopener" %>
      <% else %>
        <%= link_to room.hit_on.line, room_messages_path(room), class: "current-message", target: "_blank", rel: "noreferrer noopener" %>
      <% end %>
    </div>
  </div>
</div>
