<%= render partial: 'shared/page_title', locals: { title: "#{@memo.object.nickname}さんへのメモ編集" } %>
<%= form_with(model: @memo, url: user_memo_path(@memo.object, @memo.subject), class: 'general-form-frame', local: true) do |f| %>
  <div class="field">
    <%= f.label(:memo, 'メモ') %>
    <span class="caution">*この情報は他ユーザーには公開されません</span><br />
    <%= f.text_area(:memo, class: "thirty-vw-form") %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>