<!DOCTYPE html>
<html>
  <head>
    <title>PickMeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo"><a href='/'>pick me</a></div>
      <% if user_signed_in? %>
        <div class="user_nav">
          <ul class="user__info">
            <li class="header-menu-string"><%= link_to "#{current_user.nickname}さん", user_path(current_user), class: "mouseover-weightier" %></li>
            <li class="header-menu-string"><%= link_to "新規投稿", new_hima_path, class: "mouseover-weightier" %></li>
            <li class="header-menu-image"><%= image_tag('hamburger_menu.png', class: "menu-button", id: "menu-button") %></li>
          </ul>
          <ul class="more-user__info" id="pull-down">
            <li class="more-menu-string"><%= link_to "マイページ", user_path(current_user), class: "mouseover-weightier"%></li>
            <li class="more-menu-string"><%= link_to "トークルーム一覧", rooms_path, class: "mouseover-weightier" %></li>
            <li class="more-menu-string"><%= link_to "リクエスト中", hit_ons_path, class: "mouseover-weightier" %></li>
            <li class="more-menu-string"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "mouseover-weightier" %></li>
          </ul>
        </div>
      <% else %>
        <div class="not_user_nav">
          <ul class="user__info">
            <li class="header-menu-string"><%= link_to "ログイン", new_user_session_path, class: "post mouseover-weightier" %></li>
            <li class="header-menu-string"><%= link_to "新規登録", new_user_registration_path, class: "post mouseover-weightier" %></li>
          </ul>
        </div>
      <% end %>
    </header>
    <div class="pillow"></div>
    <div class:="yield">
      <%= yield %>
    </div>
    <div class="footer"></div>
  </body>
</html>
